body{
  background-color: blue;
}

#bborder{
  margin: 150px;
  border: black 3px solid;
}

#text{
  margin: 30px;
  padding: 15px;
  border: 3px dashed green;
}

img{
  margin: 0px;
  padding: 30px;
  border: 3px dashed yellow;
}

p{
  font: arial;
  color: red;
}
